<nav id='desktopNav'>
  <div class="pull-left pt-1">
    <button id="sidebarToggle" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidebarDiv" aria-controls="sidebarDiv" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa fa-bars" style="color: white"></i>
    </button>

    <button id="mobileNavToggle" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobileNavDiv" aria-controls="mobileNavDiv" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa fa-bars" style="color: white"></i>
    </button>
    
    <a class="navbar-brand" routerLink="/" style="font-family: 'Calistoga'; color: white; text-decoration: none;">TeamIt</a>
  </div>
  
  <div style="position: relative; right: 0px;" class="ml-auto pull-right">
    <a class="nav-item nav-link" style="display: inline; color:white" routerLink="/messages">
      <span class="fa-stack">
        <i class="fa fa-comments navIcon fa-stack-1x" aria-hidden="true">
          <span class="navIconCaption">Messages</span>
        </i>
      </span>
    </a>
    
    <a class="nav-item nav-link" style="display: inline; color:white" routerLink="/profile">
      <span class="fa-stack">
        <i class="fa fa-user-o navIcon fa-stack-1x" aria-hidden="true">
          <span class="navIconCaption">User</span>
        </i>
      </span>
    </a>
  </div>
</nav>

<div style="height: 52px"></div>

<div *ngIf="messages.length > 0" id="alert-div">
  <ng-container *ngFor="let message of messages">
    <div class="alert alert-{{ message['colour'] }} alert-dismissible text-center my-1" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
      </button>
      <strong *ngIf="message['title'] != undefined">{{ message['title']|titlecase }}!</strong> {{ message['text'] }}
    </div>
  </ng-container>
</div>

<div id="toast">
  <i id="toast_green" class="fa fa-check mr-2" aria-hidden="true" style="display: none"></i>
  <i id="toast_red" class="fa fa-exclamation-triangle mr-2" aria-hidden="true" style="display: none"></i>
  <span id="toastBody"></span>
</div>

<div id="mobileNavDiv" class="row mt-2 collapse">
  <div class="col-sm-11 m-auto">
    <select id="sub-menu" name="sub-menu" class="w-100" (change)="mobileNav($event.target.value)">
      <option value="#">Navigate to...</option>
      <option value="/">
        <i class="fa fa-home mr-2" aria-hidden="true"></i>
          Dashboard Home
      </option>

      <option value="projects">
        <i class="fa fa-users mr-2" aria-hidden="true"></i>
          Projects
      </option>
    </select>
  </div>
</div>

<div class="row" id="non-nav-body">
  <div id="sidebarDiv" class="collapse show">
    <nav id="sidebar">
      <div style='overflow-y: auto; height: 100vh;' class="p-2 pt-0">
        <ul class="list-unstyled">
          <li>
            <a routerLink="/">
              <i class="fa fa-home mr-2" aria-hidden="true"></i>
              Dashboard Home
            </a>
          </li>
          <li>
            <a routerLink="projects">
              <i class="fa fa-users mr-2" aria-hidden="true"></i>
              Manage Projects
            </a>
          </li>
          <li>
            <a>
              <i class="fa fa-user-plus mr-2" aria-hidden="true"></i>
              Manage Role Assignment
            </a>
          </li>
          <li>
            <a>
              <i class="fa fa-bars mr-2" aria-hidden="true"></i>
              My Projects
            </a>
          </li>
          <li>
            <a>
              <i class="fa fa-list mr-2" aria-hidden="true"></i>
              My Tickets
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  
  <div class="pt-4" id="app-div">
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </div>

  <!-- CALL OFFER MODAL -->
  <div class="modal fade" id="callOfferModal" tabindex="-1" role="dialog" aria-labelledby="callOfferModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Video Call</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <span id="caller_name">User</span> calling...
        </div>
        
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">End Call</button>
          <button class="btn btn-primary" (click)="callAnswered()">Answer</button>
        </div>
      </div>
    </div>
  </div>



  <div *ngIf="offline" id="network_banner" class="col-12 col-md-3 p-1">
    <i class="fa fa-signal mr-3 text-danger" aria-hidden="true"></i>
    No network connection !
  </div>

</div>
